/* Main css file */
dl.nm {
	/* No bottom/top margin, great when embetting dl into a paragraph of text */
	margin-bottom: 0;
	margin-top: 0;
}

dl.compact>dt {
	float: left;
	overflow: hidden;
	/*clear: left; obsolete? */
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
}

dl.compact>dd {
	min-width: 200px;
}

dl.compact.wsp>dt,dl.compact.wsp>dd {
	/* Spacing between elements, looks better for lists with long elements */
	margin-bottom: 10px;
}

dl.compact.short>dt {
	width: 50px;
}

dl.compact.short>dd {
	margin-left: 60px;
}

dl.compact.shortish>dt {
	width: 80px;
}

dl.compact.shortish>dd {
	margin-left: 90px;
}

dl.compact.medium>dt {
	width: 150px;
}

dl.compact.medium>dd {
	margin-left: 160px;
}

dl.compact.long>dt {
	width: 220px;
}

dl.compact.long>dd {
	margin-left: 230px;
}

span.invisible {
	visibility: hidden;
}

/* h1 h2 etc tags are not allowed inside a tags because they are block elements
 * and a is an inline element. This styling is to make span.h1 span.h2 etc look 
 * like booststrap's styling for h1 h2 etc */
.h1,.h2,.h3 {
	margin-top: 21px;
	margin-bottom: 10.5px;
	display: block;
}
