/* Main css file */
dl.compact > dt {
  float: left;
  overflow: hidden;
  clear: left;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

dl.compact.short > dt {
  width: 50px; 
}

dl.compact.short > dd {
  margin-left: 60px;
}

dl.compact.long > dt {
  width: 150px;
}

dl.compact.long > dd {
  margin-left: 160px;
}
